@media screen {
  .landing {
    background-color: #36454f;
    min-height: 100vh;
    padding-top: 10px;

    &--loading {
      filter: brightness(50%);
    }
  }

  .contractor {
    background-color: beige;
    margin-bottom: 10px;

    &__container {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    &__form {
      padding-bottom: 5px;

      &__input {
        padding: 5px 10px;
      }
    }
  }

  .order {
    &__controls {
      height: 100%;

      &__button {
        width: 100%;

        // &:last-child {
        //   flex-grow: 1;
        // }
      }
    }

    &__form {
      background-color: beige;
      overflow: hidden;

      &__table__product__select {
        padding: 5px 10px;
        text-overflow: ellipsis;
        max-width: 10ch;
      }

      &__table__product__input {
        padding: 5px 10px;
        min-width: 10ch;
      }
    }
  }

  .modal {
    max-width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: beige;
    box-shadow: 10px 5px 5px black;
    padding: 20px 40px 30px;
    border-radius: 5px;
    outline: none;
  }

  .red {
    color: red;
  }
}
