@media screen {
  .landing {
    background-color: #36454f;
    min-height: 100vh;
    padding-top: 10px;

    &--loading {
      filter: brightness(50%);
    }
  }

  .contractor {
    background-color: beige;
    margin-bottom: 10px;

    &__container {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    &__form {
      padding-bottom: 5px;

      &__input {
        padding: 5px 10px;
      }
    }
  }

  .controls {
    height: 100%;

    &__button {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0px;
      }
    }
  }

  .table {
    background-color: beige;

    &__select {
      padding: 5px 10px;
      text-overflow: ellipsis;
      max-width: 10ch;
    }

    &__input {
      padding: 5px 10px;
      min-width: 10ch;
    }

    &__cell {
      min-width: 11ch;
    }
  }

  .modal {
    max-width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: beige;
    box-shadow: 10px 5px 5px black;
    padding: 20px 10px;
    border-radius: 5px;
    outline: none;

    &__button {
      width: 100%;
    }
  }

  .red {
    color: red;
  }
}
