.landing {
  background-color: #36454f;
  min-height: 100vh;
  padding-top: 10px;
}

.contractor {
  background-color: beige;
  margin-bottom: 10px;
}

.contractor__container {
  padding-top: 10px;
  padding-bottom: 10px;
}

.contractor__form {
  padding-bottom: 5px;
}

.contractor__form__input {
  padding: 5px 10px;
}

.order__controls {
  height: 100%;
}

.order__controls__button {
  width: 100%;
}

.order__controls__button:last-child {
  width: 100%;
  flex-grow: 1;
}
